{% extends 'blog/base.html' %}

{% block  content %}
<div class="jumbotron">
  <h2>Login here: </h2>
  <h3>(Must be superuser. Please check admin for issues.)</h3>
  {% if form.errors %}
    <p>Password and Username didn't match.Try Again</p>
  {% endif %}

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{ next }}">

  </form>

</div>
{% endblock %}
